<div class="intro-header">
  <div class="container">
    <div id="errorbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Error</div>
        </div>
        <span style="color: #0b0b0b">
          Ha ocurrido un error, por favor contactese con el <a style="font-weight: bold;" href="mailto:admin@rrramundo.com.ar?Subject=Error" target="_top">administrador</a>
        </span>
      </div>
    </div>
  </div>
</div>
