<!-- Preloader -->
<div id="preloader">
	<div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
	<div class="container">

	</div>
</div>

<!-- JavaScript -->
<script src="scripts/vendor/jquery-1.10.2.js"></script>
<script src="scripts/vendor/bootstrap.js"></script>
<script src="scripts/vendor/owl.carousel.js"></script>
<script src="scripts/constants/app.js"></script>
<script src="scripts/api/session.js"></script>
<script src="scripts/session.js"></script>
