<!-- Preloader -->
<div id="preloader">
	<div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
  <div class="col-xs-12 text-center abcen1">
    <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">QR Emergencias</h1>
  	<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Proyecto UTN.BA</h3>
  	<ul class="list-inline intro-social-buttons">
  		<li>
				<a href="/register?type=paciente"
					class="btn btn-lg mybutton_cyano wow fadeIn"
					data-wow-delay="0.8s">
					<span class="network-name">Soy Paciente</span>
				</a>
  		</li>
  		<li >
				<a href="/register?type=medico"
					class="btn btn-lg mybutton_cyano wow fadeIn"
					data-wow-delay="1.2s">
					<span class="network-name">Soy Médico</span>
				</a>
  		</li>
  	</ul>
  </div>
</div>

<!-- JavaScript -->
<script src="scripts/vendor/jquery-1.10.2.js"></script>
<script src="scripts/vendor/bootstrap.js"></script>
<script src="scripts/vendor/owl.carousel.js"></script>
<script src="scripts/script.js"></script>

<!-- StikyMenu -->
<script src="scripts/vendor/stickUp.min.js"></script>
<script type="text/javascript">
  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		});
  });

</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="scripts/vendor/jquery.corner.js"></script>
<script src="scripts/vendor/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<script src="scripts/vendor/classie.js"></script>
<!-- Magnific Popup core JS file -->
<script src="scripts/vendor/jquery.magnific-popup.js"></script>
